table {
    border-collapse: collapse;
    width: 100%;
    height :60%;
    text-align: center;
    background-color: lightyellow;
}
    .a{
        background-color: darkgreen;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
    .b{
        background-color:yellow;
        font-size: 18px;
    }